@model Bug_Tracker.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<div class="page-inner">
    <div class="card">
        <div class="card-body">

            <h2>Success!</h2>

            <p class="text-success">@ViewBag.StatusMessage</p>
            <div>
                @*<h4>Password Changed.</h4>*@
                <hr />
                <dd>
                    @Html.ActionLink("Return to Profile", "EditProfile", "UserProfiles")
                </dd>

                <dl class="dl-horizontal">
                    <dt>Password:</dt>
                    <dd>
                        [
                        @if (Model.HasPassword)
                        {
                            @Html.ActionLink("Change your password", "ChangePassword")
                        }
                        else
                        {
                            @Html.ActionLink("Create", "SetPassword")
                        }
                        ]
                    </dd>

                </dl>
            </div>
        </div>
    </div>
</div>
